---
layout: default
title: Welcome to my homepage!
---

<div style="margin-bottom:1em;">
  <h1>Baiting Xie</h1>

  <p>Workstation: Shuangqing Complex Building C740 S105 <br>Email: xbt23"at"mails.tsinghua.edu.cn</p>

  {% include Content/selfintroduction.html %}
</div>

<div style="margin-bottom:1em;">
  <h2>Papers</h2>
  {% include Content/paper.html %}
</div>

<div style="margin-bottom:1em;">
  <h2>Seminars</h2>
  {% include Content/seminar.html %}
</div>

<div style="margin-bottom:1em;">
  <h2>Talks</h2>
  {% include Content/talk.html %}
</div>

<div style="margin-bottom:1em;">
  <h2>TA</h2>
  {% include Content/TA.html %}
</div>


